.pad-below-20 {
	padding-bottom: 20px;
}

.pad-below-10 {
	padding-bottom: 10px;
}

.pad-below-5 {
	padding-bottom: 5px;
}

.pad-above-20 {
	padding-top: 20px;
}

.pad-above-10 {
	padding-top: 10px;
}

.pad-above-5 {
	padding-top: 5px;
}

.margin-above-20 {
	margin-top: 20px;
}

.margin-above-10 {
	margin-top: 10px;
}

.margin-above-5 {
	margin-top: 5px;
}

.margin-below-20 {
	margin-bottom: 20px;
}

.margin-below-10 {
	margin-bottom: 10px;
}

.margin-below-5 {
	margin-bottom: 5px;
}

.max-25-vh {
	max-width: 25vh;
}

.max-1000-px {
	max-width: 1000px;
	margin: auto;
}

.max-800-px {
	max-width: 800px;
	margin: auto;
}

#AboutMe {
	padding-bottom: 10px;
}

.serif {
	font-family: 'Times New Roman', Times, serif;
}

.align-center {
	text-align: center;
	align-content: center;
}
