#content {
	width: calc(100% - 164px);
}

.right-sidebar {
	box-sizing: border-box;
	width: 164px;
	border-left: 1px solid #d6d9dc;
	flex-shrink: 0;
	z-index: 1000;
	position: fixed;
	box-shadow: 0 0 0 rgba(12,13,14,0.05);
	transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
	text-align: right;
	transform: translateX(calc(100vw - 164px - 12px));
	height: 100%;
	padding-right: 15px;
}

.js-sticky-rightnav {
	position: sticky;
	width: auto;
	top: 74px;
	margin-bottom: 24px;
}

.you-are-here {
	font-weight: bold;
	background: rgba(12,13,14,0.05);
	color: #0C0D0E;
	border-left: 3px solid #F48024;
}

ul, ol, li {
	margin: 0;
	border: 0;
	vertical-align: baseline;
	padding: 0;
	width: 100%;
}

.nav-links {
	list-style: none;
}

/* 
a.linkedin ::before{
	content: url()
} */
